/* body */
body {
  background: var(--color-primary);

  color: var(--color-secondary);
  
  font-family: var(--font-helvetica);

  line-height: 1.6;

  font-size: var(--font-size-medium);

  -webkit-font-smoothing: antialiased;
}


/* Headers */
h1{
  font-size: var(--font-size-xl);

  margin-bottom: var(--margin-size-xl);
}


h2 {
  font-size: var(--font-size-medium);

  margin-bottom: var(--margin-size-medium);
}


h3 {
  font-size: var(--font-size-small);

  margin-bottom: var(--margin-size-small);
}


/* paragraphs */
p {
  margin-bottom: var(--margin-size-small);
}


/* link */
a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
  transition: transform 0.2s;
}
a:hover {
  transform: scale(0.5);
}


/* buttons */
button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--fontweight-bold);
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* images */
img {
 max-width: 40rem;
 height: auto;
}

/* lists
ul, ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
} */

/* li {
  margin-bottom: 0.5rem;
} */
