.nav-menu {
  font-size: var(--font-size-medium);
  font-weight: var(--fontweight-bold);
  list-style: none;          /* remove bullets */
  display: flex;             /* horizontal layout */
  gap: var(--padding-medium);                 /* space between items */
  padding: var(--padding-medium);                /* remove default padding */
  margin: 0;                 /* remove default margin */
  justify-content: flex-start; /* align items to the start */
}

/* link */
.nav-menu a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
  transition: transform 0.2s;
}
.nav-menu a:hover {
  transform: scale(0.8);
}

.footer {
  text-align: center;
  padding: var(--padding-medium);
  margin-top: var(--margin-size-large);
}

/* hero */
.hero {
  display: flex;
  gap: 1rem;
}

.card-grid {
  display: flex;
 
  justify-content: center;

  flex-wrap: wrap;

  gap: 1.5rem;
}

.card {
  flex: 1 1 250px;
  padding: 1rem;
  max-width: 350px;
}

.herocard {
  display: flex;
  padding: var(--padding-medium);
  max-width: 300px;           /* optional card width */
  margin: var(--margin-size-medium);
  transition: font-size 0.2s;
}

.card:hover h1 {
  font-size: var(--font-size-medium);
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.littletainer {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

/* container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Optional utility classes */
.text-center {
  text-align: center;
}

.p-1 {
  padding: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}


.mb-1 {
  margin-bottom: 1rem;
}


