:root {
  /* colors */
  --color-primary: magenta;
  --color-secondary: yellow;
  --color-tertiary: #222;

  /* Spacings */
  --padding-small : 1rem;

  --padding-medium: 2rem;

  --padding-large: 3rem;


  /* Fonts */
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-size-small: 1.25rem;

  --font-size-medium: 1.5rem;

  --font-size-large: 2rem;

  --margin-size-small: 0.5rem;

  --margin-size-medium: 0.75rem;

  --margin-size-large: 1rem;

  /* Hovers */

  --fontweight-bold: 700;

}



/* normalize */
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}


/* body */
body {
  background: var(--color-primary);

  color: var(--color-secondary);
  
  font-family: var(--font-helvetica);

  line-height: 1.6;

  font-size: var(--font-size-large);
}


/* Headers */
h1{
  font-size: var(--font-size-large);

  margin-bottom: var(--margin-size-large);
}


h2 {
  font-size: var(--font-size-medium);

  margin-bottom: var(--margin-size-medium);
}


h3 {
  font-size: var(--font-size-small);

  margin-bottom: var(--margin-size-small);
}


/* paragraphs */
p {
  margin-bottom: var(--margin-size-large);
}


/* link */
a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
  transition: transform 0.2s;
}
a:hover {
  transform: scale(0.5);
}


/* buttons */
button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* link
a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
  transition: transform 0.2s;
}
a:hover {
  transform: scale(0.5);
} */


.nav-menu {
  font-size: var(--font-size-medium);
  font-weight: var(--fontweight-bold);
  list-style: none;          /* remove bullets */
  display: flex;             /* horizontal layout */
  gap: var(--padding-medium);                 /* space between items */
  padding: var(--padding-medium);                /* remove default padding */
  margin: 0;                 /* remove default margin */
  justify-content: flex-start; /* align items to the start */
}

/* link */
.nav-menu a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
  transition: transform 0.2s;
}
.nav-menu a:hover {
  transform: scale(0.8);
}


/* container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--padding);
}


/* Optional utility classes */
.text-center {
  text-align: center;
}


.mt-1 {
  margin-top: 1rem;
}


.mb-1 {
  margin-bottom: 1rem;
}


/* images */
img {
  max-width: 100%;

  height: auto;
  
  display: block;
}


/* lists
ul, ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
} */

/* li {
  margin-bottom: 0.5rem;
} */
