:root {
  /* colors */
  --color-primary: magenta;
  --color-secondary: yellow;
  --color-tertiary: #222;

  /* Spacings */
  --padding-small : 1rem;

  --padding-medium: 2rem;

  --padding-large: 3rem;


  /* Fonts */
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-size-small: 1.25rem;

  --font-size-medium: 1.5rem;

  --font-size-large: 2rem;

  --font-size-xl: 4rem;

  --margin-size-small: 0.5rem;

  --margin-size-medium: 0.75rem;

  --margin-size-large: 1rem;

  --margin-size-xl: 2rem;

  /* Hovers */

  --fontweight-bold: 700;

}


